<div class="row">
	<main class="col-md-12">

		<!-- Start your code here -->
		<div class="about-block">
			<h2>Hi there </h2>
			<p>I am Abin Lathikumar. I'm currenlty pursuing Database Application Developer
				program in Seneca. My Student ID is 140968181.
			</p>
		</div>
		
		
		<!-- End your code here  -->

	</main>
</div>